[Unit]
Description=Asterisk PBX
Requires=bluetooth.service
After=bluetooth.service

[Service]
ExecStartPre=/usr/libexec/asterisk-bluetooth.rb
Type=notify
ExecStart=/usr/sbin/asterisk -g -f -p
ExecReload=/usr/sbin/asterisk -rx 'core reload'
Restart=always
RestartSec=4

[Install]
WantedBy=multi-user.target
