[Unit]
Description=Raspberry Pi bluetooth helper
Requires=bluetooth.service
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/bthelper.sh %I
Restart=on-failure
RemainAfterExit=yes
